@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #ffd230;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

body.modal-open header {
    display: none;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color)
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.alchemist {
    padding-top: 10rem; /* to avoid overlap with the fixed header */
    background: var(--second-bg-color);
    padding-bottom: 10rem;
}

.generator {
    padding-top: 5rem; /* to avoid overlap with the fixed header */
    padding-bottom: 10rem;
}

.myva {
    padding-top: 5rem; /* to avoid overlap with the fixed header */
    background: var(--second-bg-color);
    padding-bottom: 10rem;
}

.adeola {
    padding-top: 5rem; /* to avoid overlap with the fixed header */
    padding-bottom: 10rem;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
    color: #FFD700;
    padding-bottom: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    width: calc(20% - 15px);
    height: 200px;
    overflow: hidden;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.gallery-item iframe {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery-item iframe:hover {
    transform: scale(1.1);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: none;
}

#modal-img.active, #modal-video.active {
    display: block;
}

#modal-video {
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.3);
}

.modal-img {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.3);
}

#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    color: #ffffff;
    padding: 10px 0;
    font-size: 3rem;
    text-align: center;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #FFD700;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #FFF;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}